spring:
  application:
    name: UserService
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/productcatalog
    username: root
    password: MySql!@#123
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:92157685750-lb80ssfhmq34cf7qnv461mlsfb08mn8v.apps.googleusercontent.com}
            client-secret: ${GOOGLE_CLIENT_SECRET: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}
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            issuer-uri: https://accounts.google.com
server:
  port: 8082
